*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
font-family: 'Questrial';
background: #E5E5E5;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
width: 100vw;
}

div.title{
position: relative;
transform: translateY(-10vh);

font-style: normal;
font-weight: normal;
text-align: center;
font-size: 30px;
line-height: 31px;

color: #000000;
}
div.card{
position: relative;
width: 380px;
height: 412px;

background: #fff;
border-radius: 8px;
}
form{
    position: relative;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #7F7F7F;
}
form input{
    border: none;
    border-bottom: 1px solid #7F7F7F;
    outline: none;
    width: 332px;
    padding: 10px 0px;
    margin: 10px 0px;
}
div.ctext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 332px;
    text-decoration: underline;
}
div.ctext a{
    color: #7F7F7F;
}
div.or{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 332px;
    height: 20px;
    margin: 20px 0px;
}
div.line{
height: 0;
border: 1px solid #7F7F7F;
width: 140px;
}
input.button.a1{
    height: 51px;
    width: 332px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    background:#FF4E4E;
    border-radius: 5px;
    cursor: pointer;
}
button.a2{
    height: 51px;
    width: 332px;
    text-align: center;
    color: #FF4E4E;
    border: none;
    border: 1px solid #FF4E4E;
    border-radius: 5px;
    background:#FFF;
    border-radius: 5px;
    cursor: pointer;
}
.a1{
    position: relative;
    top: 10px;
}
.b1{
    position: relative;
    top: 10px;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
hr{
    width: 75vw;
    margin: 0px;
    height: 10px;
    background-color: #7F7F7F;
}
.blines{
    display: flex;
    width: 70vw;
    justify-content: space-around;
}
.social{
height: 30px;
}
.rights{
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
}
.rights div{
    padding: 0px 10px;
}
@media (max-width: 475px) {
    div.title{
        font-size: 25px;
        
        }
    div.card{
        width: 90vw;
        }

    form input{
        width: 80vw;
    }
    div.ctext{
        font-size: 0.8rem;
        width: 80vw;
    }
    div.or{
        width: 80vw;
        height: 20px;
        margin: 20px 0px;
    }
    input.button.a1{
        height: 45px;
        width: 80vw;
    }
    button.a2{
        height: 45px;
        width: 80vw;
    }
    .rights div{
        font-size: 10px;
    }
}
